<nav class='nav'>
  <%= link_to categories_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <%= link_to 'Back', categories_path, class: 'back' %>
  <h2>Categories</h2>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
</nav>
<div class="card">
  <h3 class="">Total Amount: </h3>
  <h5>$ <%= @category.recent_payments.reduce(0) { |sum, item| sum + item.amount } %></h5>
</div>
<section class="">
  <ul class="">
    <% @category.recent_payments.each do |payment| %>
      <li class="card">
        <div class="d-flex">
          <h3 class="">
            <%= payment.name %>
          </h3>
          <span>$ <%= payment.amount %></span>
        </div>|
        <span>
        date:
        <%= payment.created_at.strftime("%d %b %Y") %>
        </span>
      </li>
    <% end %>
  </ul>
</section>

<div class="add-div">
  <%= link_to "ADD A NEW TRANSACTION", new_category_payment_path, class: "add-btn"%>
</div>